<footer class="footer">

  <a href="https://kazvee.com" target="_blank" rel="noopener">
    kazvee.com
  </a>
  &nbsp;|&nbsp;
  <a href="https://github.com/kazvee/kazvee-blog" target="_blank" rel="noopener">
    GitHub
  </a>
  &nbsp;|&nbsp;
  Icons from&nbsp;
    <a href="https://icons8.com/" target="_blank" rel="noopener noreferrer" aria-label="Visit Icons8 for icons">
    icons8
  </a>   
 
</footer>