<footer class="footer">

  <a href="https://kazvee.com" target="_blank" rel="noopener" aria-label="Visit main website at kazvee.com, opens in a new tab." title="Opens in a new tab">
    kazvee.com
  </a>
  &nbsp;|&nbsp;
  <a href="https://github.com/kazvee/kazvee-blog" target="_blank" rel="noopener" aria-label="Visit GitHub repo for this site, opens in a new tab." title="Opens in a new tab">
    GitHub
  </a>
  &nbsp;|&nbsp;
  <a href="/pages/privacy/" aria-label="Privacy Policy" title="Privacy Policy">
    Privacy Policy
  </a>   
  &nbsp;|&nbsp;
  Icons from&nbsp;
    <a href="https://icons8.com/" target="_blank" rel="noopener" aria-label="Visit Icons8 for icons, opens in a new tab." title="Opens in a new tab">
    icons8
  </a>   
 
</footer>