<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {{ site.meta.title }}{% else %}{{ site.meta.title }}{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.meta.description }}{% endif %}">

  <link rel="shortcut icon" href="{{ '/static/img/favicon.ico' | url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}" media="all">

  <script async defer src="{{ UMAMI_URL }}" data-website-id="{{ UMAMI_WEBSITE_ID }}"></script>

</head>
<body>
  {% include 'components/navbar.njk' %}
  {# {% include "banner.njk" %} #}
  {{ content | safe }}
  {% include 'components/footer.njk' %}

  <script>
  (function() {
    const ham = document.querySelector('.navbar__hamburger');
    const menu = document.querySelector('.navbar__mobile-links');
    const darkToggleButtons = document.querySelectorAll('.dark-toggle');

    function changeDarkToggleBtnIcon() {
      darkToggleButtons.forEach(btn => {
        const img = btn.querySelector('img');
        if (!img) return;
        img.src = img.src.includes('/static/img/moon.svg')
          ? "{{ '/static/img/sun.svg' | url }}"
          : "{{ '/static/img/moon.svg' | url }}";
      });
    }

    if (
      localStorage.prefsDark !== 'false' ||
      (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches && localStorage.prefsDark !== 'true')
    ) {
      document.body.classList.add('dark');
      changeDarkToggleBtnIcon();
    }

    ham.addEventListener('click', () => {
      menu.classList.toggle('navbar__mobile-links--open');
      let prevState = JSON.parse(ham.getAttribute('aria-expanded'));
      ham.setAttribute('aria-expanded', !prevState);
    });

    darkToggleButtons.forEach(btn => {
      btn.addEventListener('click', () => {
        changeDarkToggleBtnIcon();
        if (document.body.classList.contains('dark')) {
          document.body.classList.remove('dark');
          localStorage.prefsDark = 'false';
        } else {
          document.body.classList.add('dark');
          localStorage.prefsDark = 'true';
        }
      });
    });
  })();
  </script>

  <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "{{ CLOUDFLARE_TOKEN }}"}'></script>
  
</body>
</html>
